{{define "subject"}}Your merchcore Password Has Been Changed Successfully{{end}}

{{define "htmlBody"}}

<html>
<body>
  <p>Hi {{.FirstName}},</p>
  <p>Your password was successfully reset on <strong>Storefront HQ</strong>.</p>
  <p><strong>Device:</strong> {{.UserAgent}}<br/>
     <strong>IP:</strong> {{.IPAddress}}<br/>
     <strong>Location:</strong> {{.Location}}<br/>
     <strong>Time:</strong> {{.ResetTime}}</p>
  <p>If this was NOT you, please contact support immediately.</p>
  <p>Thanks,<br/>The Storefront HQ Team</p>
</body>
</html>

{{end}}


{{define "plainBody"}}

Hi {{.FirstName}},

Your password was successfully reset.

Device: {{.UserAgent}}
IP: {{.IPAddress}}
Location: {{.Location}}
Time: {{.ResetTime}}

If this was NOT you, please contact support immediately.

Thanks,
The Storefront HQ Team

{{end}}